.VideosBannerWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0; /* no gap after banner */
  padding-bottom: 0;
  margin-left: 240px; /*for fixed navbar top*/
  margin-top: 59px; /*for fixed header top*/
}
.BannerImg {
  max-width: 900px;
}

.VideosBannerAndContent {
  display: flex;
  /* padding: 10px; */
  /* position: relative; */
}
.VideosBannerLogoImg {
  height: 36px;
  width: 130px;
}
.VideosBannerPara {
  font-size: 16px;
  font-family: 'Roboto';
}
.VideosBannerBtn {
  height: 28px;
  width: 92px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-family: 'Roboto';
  cursor: pointer;
}

.X {
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
}

/*----------------------------------------------------------------------------------------------------*/

.VideosContainer {
  background-color: #f1f5f9;
  min-height: 100vh;
  padding: 0 20px;
  width: 100%;
  margin-top: 0;
}
.VideosSearch {
  width: 300px;
  height: 30px;
  border: 1px solid #94a3b8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-family: 'Roboto';
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.VideosSearch:focus {
  outline: none;
  box-shadow: none;
  border-color: #d7dfe9;
}
.searchIconContainer {
  height: 30px;
  margin-bottom: 10px;
  width: 40px;
  background-color: #ebebeb;
  cursor: pointer;
  border: none;
}
.searchIcon {
  padding-left: 3px;
  background-color: #ebebeb;
  cursor: pointer;
  padding-top: 3px;
  font-size: 23px;
}
.VideosUL {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.noVideosContainer {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.noVideos {
  height: 250px;
  width: 320px;
}
.noVideosText {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

.Dark_Mode_Videos {
  background-color: #000000;
  color: #ffffff;
}
.Dark_Mode_Videos .loader-container {
  background-color: #000000;
}

@media screen and (max-width: 600px) {
  .display {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .VideosBannerWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0; /* no gap after banner */
    padding-bottom: 0;
    margin-left: 150px; /*for fixed navbar top*/
    margin-top: 59px; /*for fixed header top*/
  }
}
