* {
  box-sizing: border-box;
}
html,
body {
  touch-action: manipulation;
  -ms-touch-action: manipulation; /* old IE/Edge */
}
html {
  -webkit-text-size-adjust: 100%; /* stop iOS Safari from zooming text */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
